__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
*.pt
*.txt
*.log
mixtral/dynamic_inferecne/*
mixtral/EPLB/weight.py
*.safetensors
venv/

